// ----------------------------------------------------------------------
// Utils
// ----------------------------------------------------------------------
@import "utils/mixins";
@import "utils/extends";

// ----------------------------------------------------------------------
// Base
// ----------------------------------------------------------------------
@import "base/variables";
@import "base/reset";

// ----------------------------------------------------------------------
// Layout
// ----------------------------------------------------------------------
@import "layout/container";

// ----------------------------------------------------------------------
// Modules
// ----------------------------------------------------------------------
@import "modules/background";
@import "modules/header";
@import "modules/nav";
@import "modules/logo";
@import "modules/footer";
@import "modules/virtual-happy-hour";

// ----------------------------------------------------------------------
// Themes
// ----------------------------------------------------------------------
.virtual-happy-hour{
    max-width: 800px;
    margin: 0 auto;
    
    img{
        max-width: 800px;
        width: 90%;
    }

    h2{
        line-height: 40px;
    }
}