// File Name: _container.scss
// Description: Main container
// Used by: style.scss, 
// Dependencies: 
// Date created: 14/11/2015
// ------------------------------------------------------------

.container{
  @extend %marginAuto;
  width: 80%;
  color:$chalk;
  text-align:center;
  margin-top:80px;

  h1{
    color:$teal;
    @include rem("font-size", 42);
  }
}