// File Name: _container.scss
// Description: Main container
// Used by: style.scss, 
// Dependencies: 
// Date created: 14/11/2015
// ------------------------------------------------------------
.container{
  @extend %marginAuto;
  padding-left: 20px;
  padding-right: 20px;
  color: $darkBlue;
  line-height: 26px;
  max-width: 1100px;
  position: relative;

  @include min-breakpoint(940){
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
h2.container{
  margin-top: 60px;
  font-size: 28px;
  line-height: 34px;
}
h3 {
  font-size: 22px;
  line-height: 38px;
}

p{
  margin-bottom: 15px;
}

a{
  color: $darkBlue;
}