// File Name: _container.scss
// Description: Main container
// Used by: style.scss, 
// Dependencies: 
// Date created: 14/11/2015
// ------------------------------------------------------------
.container{
  @extend %clearfix;
  @extend %marginAuto;
  width: 80%;
  color: $darkBlue;
}

h3 {
  font-size: 22px;
}

p{
  margin-bottom: 15px;
}