// File Name: _episodes.scss
// Description: Style the list of episodes
// Used by: style.scss.scss,
// Dependencies:
// Date created: 14/02/2016
// SassySass v1.3.1
// ------------------------------------------------------------

.episodes {
  margin-top: 30px;
  margin-bottom: 30px;

  h2 {
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  p{
    width: 100%;
    margin-left: 105px;
  }

  a{
    color: $darkBlue;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    padding: 30px 0 20px;

    &:hover, &:focus{
      background: $chalk;
    }

    .container{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  ul, ol{
    li{
      position: relative;
      border-bottom: 1px dotted $chalk;
      &:last-child{
        border-bottom: none;
      }
    }
  }
}

.episode {
  position: relative;

  .episode-number{
    display: inline-block;
    font-size: 24px;
    border: 3px solid $darkBlue;
    color: $darkBlue;
    width: 85px;
    height: 85px;
    line-height: 80px;
    text-align: center;
    border-radius: 85px;
  }

  .title{
    font-size: 18px;
    width: calc(100% - 105px);
    font-weight: bold;
  }

  .date {
    font-style: italic;
    color: $grey;
    font-size: 12px;
    width: calc(100% - 105px);
    position: absolute;
    //left: 120px;
    top: 0;
  }

  @media (max-width: 600px) {
    .episode-number {
      margin: 0 10px 0 0;
      order: 1;
      font-size: 18px;
      width: 60px;
      height: 60px;
      line-height: 55px;
    }
    .title {
      order: 3;
      margin: 15px 0;
    }
    .date {
      order: 2;
      margin-bottom: 0;
      line-height: 40px;
      line-height: 10px;
    }
    .description {
      order: 4;
    }
    p {
      margin-left: 0;
    }
  }
}
