// File Name: _feeds.scss
// Description: Style links to rss and podcast feeds
// Used by: style.scss, episode.scss
// Dependencies: 
// Date created: 02/03/2016
// SassySass v1.3.1
// ------------------------------------------------------------

.feeds {
  text-align: center;

  @include min-breakpoint(600){
    float: right;
    margin: 0;
  }
  
  li {
    display: inline-block;
    
    img {
      width: 25px;
      height: 25px;
      // 15px to match with logo
      margin: 15px 10px;

      &:hover, &:focus{
        opacity: 0.7;
      }

      @include min-breakpoint(600) {
        width: 30px;
        height: 30px;
      }
    }
  }
}