// File Name: _form.scss
// Description: Style form fields
// Used by: mailing.scss, 
// Dependencies: 
// Date created: 16/06/2016
// SassySass v1.3.1
// ------------------------------------------------------------

form{
  label{
    display: block;
  }

  input{
    display: block;
    border:1px solid $darkBlue;
    background: white;
    color: $darkBlue;
    @include roundedCorners(5);
    padding: 5px;
    margin-bottom: 10px;
    width: 80%;
    max-width: 400px;
  }

  button{
    @include roundedCorners(5);
    padding: 5px 15px;
    border:none;
    background: $darkBlue;
    color: white;

    &:hover, &:focus{
      background: $teal;
      color: $darkBlue;
    }
  }
}