// File Name: _header.scss
// Description: Style the main header
// Used by: style.scss.scss, 
// Dependencies: 
// Date created: 14/02/2016
// SassySass v1.3.1
// ------------------------------------------------------------

header{
  color: $darkBlue;
  padding: 40px 0 20px 0;
  position: relative;
  @include clearfix();
  width: 100%;

  @include max-breakpoint(600) {
    height: auto;
  }

  h1{
    color:$darkBlue;
    margin: 0;
    @include rem("font-size", 42);
  }

  .logo{
    max-width: 150px;
    padding: 15px 0;
    margin: 0 auto;
    display: block;

    @include min-breakpoint(600){
      float: left;
      margin: 0;
    }
  }
}