// File Name: _header.scss
// Description: Style the main header
// Used by: style.scss.scss, 
// Dependencies: 
// Date created: 14/02/2016
// SassySass v1.3.1
// ------------------------------------------------------------

header{
  background: $darkBlue;
  min-height: 300px;
  color: $chalk;
  margin-bottom: 30px;

  h1{
    color:$teal;
    @include rem("font-size", 42);
  }

  .logo{
    margin: 0 auto;
    width: 100%;

    @include min-breakpoint(940){
      float:left;
    }
  }

  .bottom {
    clear: both;
    margin: 0 auto;
    float:left;
  }

  .tagline{
    color: $chalk;
    @include rem("font-size", 18);
    line-height: 42px;

    @include min-breakpoint(940){
      @include rem("font-size", 24);
    }
  }

  .right-content{
    float: left;
    width: 100%;
    text-align: center;
    color: $chalk;

    @include min-breakpoint(940){
      width: 50%;
      margin: 20px 0 0 50px;
      text-align: left;
    }
  }
}