// File Name: _nav.scss
// Description: Style header nav links
// Used by: 
// Dependencies: 
// Date created: 04/14/2020
// SassySass v1.3.1
// ------------------------------------------------------------

.nav {
    text-align: center;
  
    @include min-breakpoint(600){
      float: right;
      max-width: 50%;
      margin: 130px 0 0 0;
    }
    
    li {
      display: inline-block;
      margin-right: 20px;

      &:last-child {
        margin-right: 0px;
      }
    }

    a{
      text-transform: uppercase;
      color: $grey;
      text-decoration: none;
      
      &:hover {
        color: $blue;
      }
    }
  }