// File Name: _panel.scss
// Description: styles for the panelists photos, name, twitter
// Used by: episodes.scss,
// Dependencies:
// Date created: 05/03/2016
// SassySass v1.3.1
// ------------------------------------------------------------

.panel{
  ul {
    //max-width: 800px;
    margin-top: 20px;
  }

  li{
    display: inline-block;
    text-align: center;
    margin-bottom: 50px;
    //max-width: 145px;
    width: 138px;
  }

  a{
    text-decoration: none;
    color: $darkBlue;
    
    &:hover, &:focus{
      opacity: 0.7;
      border: none;
      color: $chalk;
    }
  }

  img{
    @include roundedCorners(150);
    width: 75px;

    @include min-breakpoint(940){
      width: 80%;
    }
  }

  span{
    display: block;
  }
}
