// File Name: _panel.scss
// Description: styles for the panelists photos, name, twitter
// Used by: episodes.scss,
// Dependencies:
// Date created: 05/03/2016
// SassySass v1.3.1
// ------------------------------------------------------------

.panel{

  li{
    display: inline-block;
    text-align: center;
    margin-bottom: 50px;
    max-width: 145px;
  }

  img{
    @include roundedCorners(150);
    width: 75px;

    @include min-breakpoint(940){
      width: 80%;
    }
  }

  span{
    display: block;
  }
}
