.episode-number {
    display: inline-block;
    font-size: 28px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 70px;
    margin-right: 15px;
}

.placeholder-episodes {
    .title {
        height: 25px;
    }

    .date {
        width: 50%;
        height: 10px;
    }

    .description {
        margin-left: 85px;
        width: 85%;
        height: 15px;
    }

    ul, ol {
        li {
            position: relative;
            border-bottom: 1px dotted $chalk;
            &:last-child{
                border-bottom: none;
            }
        }
    }

    @media (max-width: 600px) {
        .episode-number {
          margin: 0 10px 20px 0;
          order: 1;
          width: 40px;
          height: 40px;
          line-height: 40px;
        }

        .title-area {
            margin-bottom: 20px
        }

        .title {
          order: 3;
          margin: 5px 0;
        }
        .date {
          order: 2;
          margin-bottom: 0;
          line-height: 40px;
          width: calc(100% - 50px);
        }
        .description {
          order: 4;
          margin-left: auto;
          margin-right: auto;
          width: 100%;
        }
      }

}

.text-shape {
    width: 95%;
    text-align: right;
    position: relative;
    margin-bottom: 10px;
    height: 15px;
  }

  .title-area {
    margin-left: auto;
    display: inline-block;
    vertical-align: baseline;
    width: 80%;
  }

// This is created to mock the anchor tag padding hacky fix
// Ideally we remove the direct styling or have some consoldidated
.placeholder-wrapper {
    padding: 30px 0 20px;
}

// https://cssninja.io/blog/post/facebook-placeholders
.placeholder {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeload;
    animation-name: placeload;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: $grey-nuance-lighter;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(8%, $grey-nuance-lighter),
      color-stop(18%, $grey-nuance-darker),
      color-stop(33%, $grey-nuance-lighter)
    );
    background: -webkit-linear-gradient(
      left,
      #eeeeee 8%,
      #dddddd 18%,
      #eeeeee 33%
    );
    background: linear-gradient(to right, $grey-nuance-lighter 8%, $grey-nuance-darker 18%, $grey-nuance-lighter 33%);
    -webkit-background-size: 800px 104px;
    background-size: 1200px 104px;
    position: relative;
  }
  
  @-webkit-keyframes placeload{
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
  
  @keyframes placeload {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }