// File Name: _shirts.scss
// Description: styles for t-shirts and clothing
// Used by: shirts.scss,
// Dependencies:
// Date created: 07/15/2018
// SassySass v1.3.1
// ------------------------------------------------------------

h2.container {
  margin-bottom: 30px;
}
.shirts{
  margin-top: 30px;

  li{
    display: inline-block;
    text-align: center;
    margin-bottom: 50px;
    margin-right: 0;
    width: 80%;

    @include min-breakpoint(940){
      margin-right: 30px;
      text-align: left;
      width: 300px;
    }
  }

  a{
    text-decoration: none;
    color: $darkBlue;
    
    &:hover, &:focus{
      opacity: 0.7;
      border: none;
    }
  }

  img{

    @include min-breakpoint(940){
      
    }
  }
}
