// File Name: _sub-header.scss
// Description: Style the sub header
// Used by: style.scss.scss, 
// Dependencies: 
// Date created: 16/04/2020
// SassySass v1.3.1
// ------------------------------------------------------------

.sub-header{
  background: $darkBlue;
  text-align: center;

  @include max-breakpoint(600) {
    //height: auto;
  }

  h2{
    color:$chalk;
    @include rem("font-size", 30);
  }
}