// File Name: _virtual-happy-hour.scss
// Description: styles for the ama page
// Used by: ama.scss,
// Dependencies:
// Date created: 05/30/2017
// SassySass v1.3.1
// ------------------------------------------------------------
.virtual-happy-hour {
    text-align: center;

    h2 {
        margin-top: 40px;
        font-size: 40px;
    }

    svg {
        max-width: 900px;
    }

    a {
        text-decoration: none;
        border-bottom: 1px solid $darkBlue;
        color: $darkBlue;

        &:hover,
        &:focus {
            border: none;
        }
    }
}

.cta {
    text-align: center;
    margin: 50px 0;

    a {
        background: $darkBlue;
        padding: 10px 15px;
        color: $chalk;
        border: none;
        text-decoration: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        &:hover,
        &:focus {
            border: none;
            color: white;
        }
    }
}